fastapi
uvicorn[standard]
motor
pymongo
transformers
torch
numpy
python-dotenv
langdetect
google-genai
python-multipart
tenacity
psutil
whisper
aiofiles
slowapi
redis
datasets
scikit-learn
evaluate
bson
huggingface-hub
